/* app css stylesheet */
.menu {
	list-style: none;
	border-bottom: 0.1em solid black;
	margin-bottom: 2em;
	padding: 0 0 0.5em;
}

.menu:before {
	content: "[";
}

.menu:after {
	content: "]";
}

.menu>li {
	display: inline;
}

.menu>li:before {
	content: "|";
	padding-right: 0.3em;
}

.menu>li:nth-child(1):before {
	content: "";
	padding: 0;
}

.contentDiv {
	margin: 0 auto;
	width: 50%;
	text-align: center;
}

.searchLabel {
	font-size: 4em;
}

.searchBox {
	-webkit-box-shadow: inset 2px 2px 2px 0px #dddddd;
	-moz-box-shadow: inset 2px 2px 2px 0px #dddddd;
	box-shadow: inset 2px 2px 2px 0px #dddddd;
	height: 1em;
	overflow: auto;
	padding: 7px 10px;
	width: 300px;
	font-family: tahoma;
	font-size: 13px;
	border: 1px solid #aaa;
}

.searchButton {
	height: 2.2em;
	width: 4em;
}

.contentWrapper {
	
}